
<section>
    <div class="discover-container">
      <div>lala</div>
      <div class="owl-carousel discover-slider">
        {% for product in section.settings.discover-slider.products %}
          <a href="{{ product.url }}">
            <div class="carousel-item" >
              <img src="{{ product.featured_image | image_url }}" alt="{{ product.title | escape }}" style="height: calc(100% - 60px);" />
              <div class="hover-content">
                Discover the woods collection
              </div>
            </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>
  
  



  {% schema %}
  {
      "name": "Collecion Slider Hover",
      "settings": [{
          "id": "discover-slider",
          "label": "collection",
          "type": "collection"
      }
      
      ],
      "presets": [{
          "name": "Woods Collection Hover",
          "category": "Woods "
      }]
  }
  {% endschema %}
  
  {% stylesheet %}
 .carousel-item {
  position: relative;
}
.hover-content {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 60px;
  line-height: 56px;
  color:#fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  {% endstylesheet %}
  
  {% javascript %}
    $('.discover-slider').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    center:true,
    stagePadding: 50,
    responsive:{
        0:{
            items:1
        },
        1000:{
            items:3
        }
    }
});

$(document).ready(function() {
  $('.hover-content').hide();
    $('.discover-slider .carousel-item').hover(function() {
        $(this).find('.hover-content').fadeIn()
    }, function() {
        $(this).find('.hover-content').fadeOut();
    });
});
   
  {% endjavascript %}