
<section>
    <div class="discover-container">
      <div class="discover-slider">
        {% for product in section.settings.discover-slider.products %}
          <a href="{{ product.url }}">
            <div class="carousel-item" >
              <img src="{{ product.featured_image | image_url }}" alt="{{ product.title | escape }}" style="height: calc(100% - 60px);" />
            </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>
  
  



  {% schema %}
  {
      "name": "Collecion Slider Hover",
      "settings": [{
          "id": "discover-slider",
          "label": "collection",
          "type": "collection"
      }
      
      ],
      "presets": [{
          "name": "Woods Collection Hover",
          "category": "Woods "
      }]
  }
  {% endschema %}
  
  {% stylesheet %}
 

  {% endstylesheet %}
  
  {% javascript %}

    let slider_hover = $('.discover-slider' ).owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        center:true,
        
        responsive:{
            0:{
                items:1
            },
            475:{
                items:1
            },
            1200:{
                items:4
            },
            1600:{
                items:6
            }
        }
    });
  
    $('.prev-slide-hover').click(function() {
      console.log('prev')
        slider_hover.trigger('prev.owl.carousel');
    })
    $('.next-slide-hover').click(function() {
      console.log('next')
        slider_hover.trigger('next.owl.carousel', [100]);
    })
  {% endjavascript %}