
<section>
    <div class="discover-container">
      <div class="discover-slider">
        {% for product in section.settings.discover-slider.products %}
          <a href="{{ product.url }}">
            <div class="carousel-item" >
              <img src="{{ product.featured_image | image_url }}" alt="{{ product.title | escape }}" style="height: calc(100% - 60px);" />
            </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>
  
  



  {% schema %}
  {
      "name": "Collecion Slider Hover",
      "settings": [{
          "id": "discover-slider",
          "label": "collection",
          "type": "collection"
      }
      
      ],
      "presets": [{
          "name": "Woods Collection Hover",
          "category": "Woods "
      }]
  }
  {% endschema %}
  
  {% stylesheet %}
 

  {% endstylesheet %}
  
  {% javascript %}

   
  {% endjavascript %}