 .act{
     text-decoration: underline !important;
   color: #1C1A00;
}
.not-active>a{
  color:#1C1A0080 !important;
}
 #content::-webkit-scrollbar {
     display: none;
}
 .legal-style{
     margin:5px;
}
 .legal-list-style{
     font-size: 25px;
}
 #content{
     overflow-y:auto;
     overflow-x: hidden;
     -ms-overflow-style: none;
    /* IE and Edge */
     scrollbar-width: none;
    /* Firefox */
     width:630px;
     background-color:white;
     position:relative;
     height:400px;
     float:left;
}
 #content h2{
     color:#993333;
     margin:20px 0pt;
}
 #content a{
     color:#777;
     font-weight:bolder;
     text-decoration:none;
}
 .section .sub{
     position:relative;
     float:left;
     padding:9px 21px 42px 45px;
     width:567px;
     height:352px;
}
 .section .sub p{
     width:550px;
     margin:16px 0;
     font-size:85%;
     line-height:1.4em;
}
 .section .next, .section .prev{
     font-size:18px;
     position:absolute;
     bottom:15px;
     letter-spacing:-2px;
}
 .section .next{
     right:30px;
}
 .section .prev{
     left:30px;
}


.legal-scroll-text>div>p{
  color:#1C1A00;
  margin-bottom:30px;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
.wood-w-50{
  width:50% !important;
}

}
 
/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
.wood-w-50{
  width:100% !important;
   padding:5px;
}
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
.wood-w-50{
  width:100% !important;
   padding:5px;
}
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
.wood-w-50{
  width:100% !important;
   padding:5px;
}


}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
.wood-w-50{
  width:100% !important;
  padding:5px;
}

}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
.wood-w-50{
  width:100% !important;
   padding:5px;
}

}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
.wood-w-50{
  width:100% !important;
   padding:5px;
}

}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
.wood-w-50{
  width:100% !important;
}
}

@media screen and (max-width:767px){
  .legal-scroll-text{
    height:100% !important;
  }
}
